version: '2'
services:
    wildfly:
        image: gattazr/lareleve:latest
        ports:
            - "8080:8080"
            - "9990:9990"
        environment:
            JAVA_OPTS: '-server -Xms64m -Xmx512m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -Djava.net.preferIPv4Stack=true -Djboss.modules.system.pkgs=org.jboss.byteman -Djava.awt.headless=true -Dcom.sun.jersey.server.impl.cdi.lookupExtensionInBeanManager=true'
            #### Wildfly administration
            # ACTIVATE_ADMIN: 1
            # ADMIN_USERNAME: 'admin'
            # ADMIN_PASSWORD: 'admin123456'
            #### Mysql administration
            # MYSQL_HOST: 'mysqldb:3306'
            # MYSQL_DATABASE: 'lareleve'
            # MYSQL_USER: 'lareleve'
            # MYSQL_PASSWORD: 'lareleve123'
            #### Hawkular administration
            # HAWKULAR_USERNAME: 'jdoe'
            # HAWKULAR_PASSWORD: 'password'
        volumes:
            - ./data/wildfly/log:/opt/jboss/wildfly/standalone/log
            - ./data/wildfly/deployments/:/opt/jboss/wildfly/standalone/deployments/
    mysqldb:
        image: mysql:latest
        ports:
            - "3306:3306"
        environment:
            MYSQL_DATABASE: 'lareleve'
            MYSQL_USER: 'lareleve'
            MYSQL_PASSWORD: 'lareleve123'
            MYSQL_ROOT_PASSWORD: 'mysqldb123'
        volumes:
            - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql:ro
            - mysqlVolume:/var/lib/mysql
volumes:
  mysqlVolume:
      driver: local
